/*
VERSION ORDINATEUR
*/
@media (min-width: 1201px) {
/* 
HEADER
*/

.header {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 70px;
    line-height: 70px;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header .header-icon-menu{
    display: none;
}
.header .header-title{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}
.header .header-logo{
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    max-width: 90px;
    height: auto;
    border-radius: 5px;

}
.header .header-menu{
    float: right;
    margin-right: 30px;
}
.header .header-menu a{
    margin-right: 15px;
    color: #ffffff;
}
.header .header-menu a:hover{
    color: #e67e22;
}

/*
BANNER
*/
.banner{
    margin-top: -30px;
}
.banner .banner-img{
    position: relative;
}
.banner .banner-content{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
    background-color: rgba(255, 156, 39, 0.25);
    padding: 10px;
}
.banner .banner-content h1,
.banner .banner-content h2
{
    color:rgba(236, 230, 212, 0.89);
    font-size: 200%;
}

/*
FOOTER
*/
.footer{
    background-color: #202020;
	color: #ffffff;
}
/*
BUTTON
*/
.button.is-link{
	background-color: #e67e22;
	color: #ffffff;
}
.button.is-link:hover{
	background-color: #db6600;
	text-decoration: none;
}
.button.is-danger {
    background-color: RGB(201, 29, 18);
    border-color: transparent;
    color: #fff;
}
.button.is-danger:hover {
	text-decoration: none;
}
/*
MODAL FORMULAIRE 
*/
.modal{
    padding-top: 100px;
}

/*
FORMATAGE CONTENU
*/
ul{
    list-style-type: disc;
}
.erreur{
    color: red;
    text-align: center;
}
h1{
    text-align: center;
}
.center{
    text-align: center;
}
.article{
	margin: 30px;
}
.article .datetimepublication{
    text-align: right;
    margin-right: 50px;
}
.article .optionarticle {
    text-align: center;
}
iframe{
 height: 650px;
 width: 90%;
}
.calendar{
    text-align: center;
}
.error{
    color: red;
}
body{
	margin: 0px;

}
.file-cta{
	text-align: center;
}
.card{
	max-width: 40%;
	word-wrap: break-word;
	margin-left: auto;	margin-right: auto;
}
.description{
	font-size: 20px;
}
}
/*
VERSION Tablettes
*/
@media (max-width: 1200px) {
/* 
HEADER
*/
.header {
	zoom: 120%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 70px;
    line-height: 70px;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header .header-icon-menu{
    display: none;
}
.header .header-title{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}
.header .header-logo{
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    max-width: 90px;
    height: auto;
    border-radius: 5px;

}
.header .header-menu{
    float: right;
    margin-right: 30px;
}
.header .header-menu a{
    margin-right: 15px;
    color: #ffffff;
}
.header .header-menu a:hover{
    color: #e67e22;
}

/*
BANNER
*/
.banner{
    margin-top: -30px;
}
.banner .banner-img{
    position: relative;
}
.banner .banner-content{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
    background-color: rgba(255, 156, 39, 0.25);
    padding: 10px;
}
.banner .banner-content h1,
.banner .banner-content h2
{
    color:rgba(236, 230, 212, 0.89);
    font-size: 150%;
}

/*
FOOTER
*/
.footer{
    background-color: #202020;
	color: #ffffff;
}
/*
BUTTON
*/
.button.is-link{
	background-color: #e67e22;
	color: #ffffff;
}
.button.is-link:hover{
	background-color: #db6600;
	text-decoration: none;
}
.button.is-danger {
    background-color: RGB(201, 29, 18);
    border-color: transparent;
    color: #fff;
}
.button.is-danger:hover {
	text-decoration: none;
}
/*
MODAL FORMULAIRE 
*/
.modal{
    padding-top: 100px;
}

/*
FORMATAGE CONTENU
*/
ul{
    list-style-type: disc;
}
.erreur{
    color: red;
    text-align: center;
}
h1{
    text-align: center;
}
.center{
    text-align: center;
}
.article{
	margin: 30px;
}
.article .datetimepublication{
    text-align: right;
    margin-right: 50px;
}
.article .optionarticle {
    text-align: center;
}
iframe{
 height: 650px;
 width: 90%;
}
.calendar{
    text-align: center;
}
.error{
    color: red;
}
body{
	margin: 0px;

}
.file-cta{
	text-align: center;
}
.card{
	max-width: 40%;
	word-wrap: break-word;
	margin-left: auto;	margin-right: auto;
}
.description{
	font-size: 20px;
}


}

/*
VERSION VIEUX PORTABLES
*/
@media (max-width: 1000px) {
    /* 
HEADER
*/
.header {
	zoom: 130%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 70px;
    line-height: 70px;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header .header-icon-menu {
    display: flex;
	float: right;
	
}
.header .header-icon-menu a{
    color: #e67e22;
}
.header .header-icon-menu i{
	padding-right: 30px;
	padding-top: 15px;
	zoom: 150%;
}
.header .header-menu{
	display: none;
	zoom: 110%;
}


.card{
	max-width: 90%;
}

/*
BANNER
*/
.banner{
    margin-top: -30px;
}
.banner .banner-img{
    position: relative;
}
.banner .banner-content{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
    background-color: rgba(255, 156, 39, 0.25);
    padding: 10px;
}
.banner .banner-content h1,
.banner .banner-content h2
{
    color:rgba(236, 230, 212, 0.89);
    font-size: 100%;
}

/*
FOOTER
*/
.footer{
    background-color: #202020;
	color: #ffffff;
}
/*
BUTTON
*/
.button.is-link{
	background-color: #e67e22;
	color: #ffffff;
}
.button.is-link:hover{
	background-color: #db6600;
	text-decoration: none;
}
.button.is-danger {
    background-color: RGB(201, 29, 18);
    border-color: transparent;
    color: #fff;
}
.button.is-danger:hover {
	text-decoration: none;
}
/*
MODAL FORMULAIRE 
*/
.modal{
    padding-top: 100px;
}

/*
FORMATAGE CONTENU
*/
ul{
    list-style-type: disc;
}
.erreur{
    color: red;
    text-align: center;
}
h1{
    text-align: center;
}
.center{
    text-align: center;
}
.article{
	margin: 30px;
}
.article .datetimepublication{
    text-align: right;
    margin-right: 50px;
}
.article .optionarticle {
    text-align: center;
}
iframe{
 height: 650px;
 width: 90%;
}
.calendar{
    text-align: center;
}
.error{
    color: red;
}
body{
	
	margin: 0px;

}
.file-cta{
	text-align: center;
}
.card{
	word-wrap: break-word;
	margin-left: auto;	margin-right: auto;
}
.description{
	font-size: 20px;
}
}

body .contenu{
    min-height: 1500px;
}


/*
Copyright (c) 2003-2019, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
*/
.name_footer{
    float: right;
    font-size: 15px;
}
iframe #photos{
    background-color: #ccc;
}
body .article 
{
	/* Font */
	/* Emoji fonts are added to visualise them nicely in Internet Explorer. */
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 12px;

	/* Text color */
	color: #333;

	/* Remove the background color to make it transparent. */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}

.article blockquote p
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.article a
{
	color: #e67e22;
	text-decoration: none;
}
.article a:hover
{
	color: #333333;
	text-decoration: underline;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}



/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}